<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DGshop</title>
    <style type="text/css">
      a{text-decoration:none; color:#000000;}         
      a:hover{color:#ff0000;}                    
      
      nav ul{padding-top:10px;}                     
      nav ul li {
         display:inline;             
         border-left:1px solid #999;         
         font:bold 12px Dotum;                     
         padding:0 10px;     
     }
      nav ul li:first-child{border-left:none;}   
 </style>
  </head>
  <body>
    <nav id="topMenu" >
       <ul>
          <li><a class="menuLink" href="/login">로그인</a></li>
          <li><a class="menuLink" href="/join">회원가입</a></li> 
          <li><a class="menuLink" href="/mypage">마이 페이지</a></li>
          <li><a class="menuLink" href="/viewed">최근 본 상품</a></li>
          <li><a class="menuLink" href="/cart">장바구니</a></li> 
          <li><a class="menuLink" href="/track">주문배송조회</a></li> 
          <li><a class="menuLink" href="/cs">고객센터</a></li> 
          
        </ul> 
      </nav>
  </body>
</html>