<!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DGshop</title>
    <style type="text/css">
        a{text-decoration:none; color:#000000;}         
        a:hover{color:#ff0000;}                    
        
        nav ul{padding-top:10px;}                     
        nav ul li {
           display:inline;             
           border-left:1px solid #999;         
           font:bold 12px Dotum;                     
           padding:0 10px;     
       }
        nav ul li:first-child{border-left:none;}   
   </style>
  </head>
  <body>
    <nav id="topMenu" >
       <ul>
          <li><a class="menuLink" href="#">Login</a></li>
          <li><a class="menuLink" href="#">mypage</a></li>
          <li><a class="menuLink" href="#">최근 본 상품</a></li>
          <li><a class="menuLink" href="#">장바구니</a></li> 
          <li><a class="menuLink" href="#">주문배송조회</a></li> 
          <li><a class="menuLink" href="#">고객센터</a></li> 
        </ul> 
      </nav>
      <form action="/join" method="POST">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="text" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form> 
  </body>
</html>


